@tailwind base;
@tailwind components;
@tailwind utilities;

/* Small accessibility polish */
:focus-visible { outline: none; }


/* Hide scrollbars (for horizontal nav on mobile) */
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none;    /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;            /* Chrome/Safari */
}